Django==1.11.7
# Installs: django-mongoengine==0.2.1
https://github.com/MongoEngine/django-mongoengine/tarball/master#egg=django-mongoengine-0.2.1
djangorestframework==3.7.3
iso8601==0.1.12
mock==2.0.0
mongoengine==0.11.0
